/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font-family), sans-serif;
  font-variation-settings: "wght" var(--main-weight);
  background-color: var(--background-color);
  color: var(--accent-color);
  background-image: var(--background-image);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-attachment:fixed;
}

.header {
  inline-size: var(--container-inline-size);
  margin: 100px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--header-background);
  padding-block-start: 136px;
  padding-block-end: 25px;
  border: 2px solid var(--accent-color);
}

@media (width <= 375px) {
  .header {
    padding-block-start: 120px;
    inline-size: 100%;
  }
}

.header__logo {
  font-family: var(--aсcent-font-family);
  font-size: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
  text-transform: uppercase;
  font-weight: 400;
  margin-block-end: 20px;
  text-decoration: none;
}

.header_title {
  font-family: var(--aсcent-font-family);
  font-size: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
  text-transform: uppercase;
  font-weight: 400;
  margin-block-end: 25px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding-inline-start: 14px;
}

.theme-menu__button {
  font-family: var(--aсcent-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
  text-transform: uppercase;
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.theme-menu__button::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: var(--accent-color);
  transition: width 0.3s ease;
}

.theme-menu__button:focus-visible::after {
  width: 100%;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  position: absolute;
  content: "▶";
  inline-size: 14px;
  block-size: 14px;
  inset-inline-start: -14px;
  inset-block-start: 0px;
  animation: move 0.5s ease-in-out infinite alternate;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.card {
  inline-size: var(--container-inline-size);
  border: 2px solid var(--accent-color);
  background-color: var(--background-color);
}

@media (width <= 375px) {
  .card {
    inline-size: 100%;
  }
}

.card_title {
  font-family: var(--main-font-family);
  font-size: 18px;
  line-height: 21.78px;
  text-align: left;
  font-variation-settings: "wght" var(--aсcent-weight);
  padding: 3px 10px;
}

.card_image-container {
  position: relative;
}

.image-label {
  position: absolute;
  z-index: 3;
  font-family: var(--aсcent-font-family);
  text-shadow: 0 0 1px var(--background-color);
  right: 25px;
  top: 25px;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  font-size: 14px;
}

@supports (text-stroke: 1px var(--background-color)) or
  (-webkit-text-stroke: 1px var(--background-color)) {
  .image-label {
    -webkit-text-stroke: 1px var(--background-color);
    text-stroke: 1px var(--background-color);
    text-shadow: none;
  }
}

@media (width <= 375px) {
  .image-label {
    right: 13px;
  }
}

.card_image {
  inline-size: 100%;
  border-top: 2px solid var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.card_text-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
}

.card_text {
  font-family: var(--main-font-family);
  font-size: 18px;
  font-variation-settings: "wght" var(--main-weight);
  line-height: 21px;
  text-align: left;
}

.card_text + .card_text {
  margin-top: 3px;
}

.card_like-container {
  display: flex;
  align-self: end;
  justify-content: end;
  justify-items: end;
  gap: 6px;
}

.like-icon {
  inline-size: 39px;
  block-size: 36px;
}

.card__icon-button {
  inline-size: 41px;
  block-size: 41px;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid transparent;
  transition: border 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
}

.card__like-button {
  inline-size: 130px;
  min-block-size: 41px;
}

.button {
  position: relative;
  background-color: transparent;
  border: 2px solid var(--accent-color);
  cursor: pointer;
  overflow: hidden;
  font-family: var(--aсcent-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 12.6px;
  text-align: center;
  animation: 0.5s linear;
  transition: box-shadow 0.3s ease;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color);
}

.button::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  transform: translateX(-100%);

  transition: transform 0.5s ease-in-out;
}

.button:hover::before {
  transform: translateX(0);
}

.button__text {
  color: var(--like-color);
  mix-blend-mode: difference;
}

.save-button {
  inline-size: 335px;
  min-block-size: 55px;
  background-color: var(--background-color);
  margin-bottom: 103px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.floppy-image {
  inline-size: 21px;
  block-size: 21px;
  color: var(--like-color);
  mix-blend-mode: difference;
}

@media (width <= 375px) {
  .save-button {
    margin-bottom: 100px;
    flex-direction: column;
    inline-size: 306px;
    min-block-size: 80px;
  }
  .floppy-image {
    inline-size: 28px;
    block-size: 28px;
  }
}

.dialog__icon {
  inline-size: 39px;
  block-size: 39px;
  color: var(--like-color);
  mix-blend-mode: difference;
  flex-shrink: 0;
}

.dialog {
  font-family: var(--aсcent-font-family);
  font-size: 14px;
  padding: 30px 30px;
  color: var(--accent-color);
  background: var(--background-color);
  border: 2px solid var(--accent-color);
}

.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.dialog:not([open]) {
  display: none;
  opacity: 0;
  pointer-events: none;
}

.dialog__container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.dialog__text-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.dialog__text {
  text-transform: uppercase;
  line-height: 1.5;
  max-width: 234px;
  width: 100%;
}

.ok-button {
  inline-size: 100%;
  min-block-size: 38px;
  text-transform: uppercase;
}

@media (width <= 375px) {
  .dialog {
    padding: 30px 41px;
  }
}

.filters {
  filter: sepia(1) contrast(2) brightness(200%);
}

.blur {
  filter: blur(2px);
}

.brightness {
  filter: brightness(200%);
}

.sepia {
  filter: sepia(2);
}

.contrast {
  filter: contrast(2);
}

.invert {
  filter: invert(1);
}

.grayscale {
  filter: grayscale(2);
}
